@font-face { 
	font-family: 'pixel_chaos-webfont';
	src: url('/fonts/pixel_chaos-webfont.eot');
	src: url('/fonts/pixel_chaos-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pixel_chaos-webfont.woff2') format('woff2'),
         url('/fonts/pixel_chaos-webfont.woff') format('woff'),
         url('/fonts/pixel_chaos-webfont.ttf') format('truetype'),
         url('/fonts/pixel_chaos-webfont.svg#grutchshadedregular') format('svg');
}

@font-face {
	font-family: 'grutchshaded-webfont';
    src: url('/fonts/grutchshaded-webfont.eot');
    src: url('/fonts/grutchshaded-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/grutchshaded-webfont.woff') format('woff'),
         url('/fonts/grutchshaded-webfont.ttf') format('truetype'),
         url('/fonts/grutchshaded-webfont.svg#grutchshadedregular') format('svg');
}

@font-face {
	font-family: 'strelght-webfont';
    src: url('/fonts/strelght-webfont.eot');
    src: url('/fonts/strelght-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/strelght-webfont.woff2') format('woff2'),
         url('/fonts/strelght-webfont.woff') format('woff'),
         url('/fonts/strelght-webfont.ttf') format('truetype'),
         url('/fonts/strelght-webfont.svg#grutchshadedregular') format('svg');
}

* {
margin: 0;
padding: 0;
}

p {
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #7f90bf;
}

#active a {
    color: #ff9300;
    text-decoration: none;
}

#credits {
    font-size: 12px;
}

.background {
    background-color: #cecbb7;
}

#main-header {
    font-family: 'pixel_chaos-webfont', Fallback, Impact;
    text-align: center;
    font-size: 100px;
    color: #568b42; 
    width: 800px;
    margin: 0 auto;
}

/* BEGIN - image with text for game screen captures */
.image-container-right { 
    width: 200px;
    display: inline;
    float: right; 
    padding-left: 10px;
}

.image-container-left { 
    width: 200px;
    display: inline;
    float: left;   
    padding-right: 10px;
}

.image-text-right { 
    text-align: right; 
    font-size: 13px;
    color: red;
}

.image-text-left { 
    text-align: left; 
    font-size: 13px;
    color: red;
}

.image { 
    width: 100%;
}
/* END - image with text for game screen captures */

.home-header {
    font-size: 25px;
}
#main { 
    font-family: Arial;
}

.wrapper {
    margin: 0 auto;
    padding: 0px;
    width: 800px;
    position: relative;
}

.writeup {
    width: 600px;
    margin: 15px auto;
    font-family: 'strelght-webfont', Arial;
    font-size: 20px;
}

.writeup-header {
    font-size: 20px;
    text-align: center;
    font-family: 'strelght-webfont', Arial;
}

#footer {
    font-size: 15px;
    text-align: center;
    clear: both;
    border-bottom: dotted 2px;
    border-top: dotted 2px;
    font-family: 'strelght-webfont', Arial;
    width: 800px;
}
    
.navbar {
    border-bottom: dotted 3px;
    border-top: dotted 3px;
    text-align: center;
    font-family: 'GrutchShaded-webfont', Impact;
    font-size: 45px;
    padding: 0;
    height: 80px;
    width: 800px;
    margin: auto;
}
    
.navbar ul li {
    list-style: none;
    display: inline;
    padding: 0 15px;
    position: relative;
    top: 10px;
}

.game-wrapper {
    width: 750px; 
    margin: 0 auto;
    font-family: 'strelght-webfont', Arial;
}

.game-writeup{
    margin: 15px auto;
    padding: 2px;
}

.game-writeup-header {
    font-size: 30px;
    margin: 10px 0 5px 0;
}

.game-banner {
    margin-top: 15px;
    width: 750px;
}

.contact-wrapper {
    text-align: center;
    margin: 10px;
}

/* clear fix */
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*
html { 
      background: url(/images/paper_by_francy84.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

*/
